# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Build and Upload Test Artifact

on:
  push:
    paths:
      - 'src/**'
      - 'buildSrc/**'
      - 'patches/**'
      - 'build.gradle'
      - 'gradle.properties'
  pull_request:
  workflow_dispatch:
    inputs:
      build_type:
        type: choice
        description: Build type
        options:
          - Stable
          - Experimental

run-name: "${{ github.event_name == 'pull_request' && 'Pull Request Build, DO NOT DOWNLOAD' || format('{0}#{1}: {2}', github.ref_name, github.run_number, github.event.commits[0].message)}}"

permissions:
  contents: read

jobs:
  build:
    name: Build and Upload Artifact
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.4
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Get branch names.
        id: branch-names
        uses: tj-actions/branch-names@v9

      - name: Fix Gradle permission
        run: chmod +x ./gradlew

      - name: Setup Forge env
        run: ./gradlew setup -Prun_number=${{ github.run_number }}
      - name: Stop Gradle daemon
        run: ./gradlew --stop

      - name: Build Jars
        run: ./gradlew build -Prun_number=${{ github.run_number }}

      - name: Get version
        run: echo "CLEANROOM_VERSION=$(cat version.txt)" >> $GITHUB_ENV

      - name: setup python
        uses: actions/setup-python@v5.3.0
        with:
          python-version: '3.13'

      - name: Generate MMC Pack
        run: python main.py
        working-directory: ./script/MMC-Builder
        env:
          PATH_TO_EXIST_INSTALLER: ../../projects/cleanroom/build/libs/cleanroom-${{ env.CLEANROOM_VERSION }}-installer.jar
          BRANCH: ${{ steps.branch-names.outputs.current_branch }}
          VERSION: ${{ env.CLEANROOM_VERSION }}

      - name: Copy MMC Pack
        run: cp script/MMC-Builder/build/CleanroomMMC.zip ./projects/cleanroom/build/libs/Cleanroom-MMC-instance-${{ env.CLEANROOM_VERSION }}.zip

      - name: Remove userdev jars
        run: rm projects/cleanroom/build/libs/*userdev*.jar

      - name: Upload Forge Universal
        uses: actions/upload-artifact@v4.3.3
        with:
          name: cleanroom-artifacts-${{ env.CLEANROOM_VERSION }}
          path: projects/cleanroom/build/libs/*
